//------------------------------------------------------------------------------
//-- COLORS --------------------------------------------------------------------
//------------------------------------------------------------------------------

$colorPrimary:   blue;
$colorSecondary: skyblue;
$colorTertiary:  teal;

$colorLink:      red;
$colorAccent:    orange;

$colorBody:      #ffffff;
$colorBodyAlt:   #cccccc;

$colorText:        #666666;
$colorTextAlt:     #ffffff;
$colorTextLink:    blue;
$colorTextHeading: red;

//------------------------------------------------------------------------------
//-- FONTS ---------------------------------------------------------------------
//------------------------------------------------------------------------------

$fontSizeBase: 16px;

$fontFamilyBase: sans-serif;
$fontFamilyHeading: serif;

$lineHeightBase: 1.6;
$lineHeightHeading: 1;

//------------------------------------------------------------------------------
//-- FONT SCALE ----------------------------------------------------------------
//------------------------------------------------------------------------------

$modularscale: (
    base: 1rem,
    ratio: $minor-third
);

//------------------------------------------------------------------------------
//-- DIMENSION -----------------------------------------------------------------
//------------------------------------------------------------------------------

$widthContainer: 1140px;
$spacing:        16px;
$gutter:         $spacing;
