h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1em 0 0.5em 0;
    line-height: $lineHeightHeading;
    font-family: $fontFamilyHeading;
    color: $colorTextHeading;
    font-weight: normal;
}

//------------------------------------------------------------------------------
//-- H1 ------------------------------------------------------------------------
//------------------------------------------------------------------------------

h1 {
    font-size: ms(6);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//------------------------------------------------------------------------------
//-- H2 ------------------------------------------------------------------------
//------------------------------------------------------------------------------

h2 {
    font-size: ms(5);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//------------------------------------------------------------------------------
//-- H3 ------------------------------------------------------------------------
//------------------------------------------------------------------------------

h3 {
    font-size: ms(4);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//------------------------------------------------------------------------------
//-- H4 ------------------------------------------------------------------------
//------------------------------------------------------------------------------

h4 {
    font-size: ms(3);
}

//------------------------------------------------------------------------------
//-- H5 ------------------------------------------------------------------------
//------------------------------------------------------------------------------

h5 {
    font-size: ms(2);
}

//------------------------------------------------------------------------------
//-- H6 ------------------------------------------------------------------------
//------------------------------------------------------------------------------

h6 {
    font-size: ms(1);
    letter-spacing: 1px;
}
