
html {
    font-size: $fontSizeBase;
}

//------------------------------------------------------------------------------
//-- BODY ----------------------------------------------------------------------
//------------------------------------------------------------------------------

body {
    font-size: 1rem;
    font-family: $fontFamilyBase;
    line-height: $lineHeightBase;
    font-weight: 400;
    font-style: normal;
    background-color: $colorBody;
    color: $colorText;
}

//------------------------------------------------------------------------------
//-- ANCHOR --------------------------------------------------------------------
//------------------------------------------------------------------------------

a {
    color: $colorTextLink;
    text-decoration: none;
}

//------------------------------------------------------------------------------
//-- PARAGRAPH -----------------------------------------------------------------
//------------------------------------------------------------------------------

p {
    margin: ms(0) 0;
}